*
{
    margin: 20px;    
}
body
{
    background-color: blue;
    color: antiquewhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
img
{
    width: 200px;
    height: 200px;
}
p
{
    background-color: darkgreen;
    margin: 5px;
    padding: 5px;

}